<div class="detail-card">
  <div class="top"><img src="" alt="no image" /></div>
  <div class="bottom">
    <h2>Nombre de la carta</h2>
    <div class="item">
      <p class="description">Description</p>
    </div>

    <div class="item">
      <h3 class="title">Título</h3>
      <p class="description">Description</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Market</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Market</th>
          <td>Price</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
