.list {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;
}

.form-control {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 25px;
  height: 45px;
  border: 1px solid #54b6ac;
  border-radius: 8px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  gap: 0.5em;
  row-gap: 20px;
  margin-top: 2em;
  justify-items: center;
}
